<!DOCTYPE html>
<html>
  <head>
    <title>Lookup!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <body>
      <!--<section class="bonsaiapp">-->
        
        <header class="headercon">
          
          <h1>Sniffer!</h1>
          <p>Information is Power!  <br/> Take a moment & check to See if that:<br/> Dealer, Employer, Seller, Website, Company/Agency or Job is legit </p>
        </header>
        <nav class="nav">
          <ul>
            <li class="find"><a href="#">Scammer Locator - Find them!  </a></li>
            <li class="ai">
              <a href="#"> AI - Interact with our AI</a>
            </li>
          </ul>
        </nav>
        <form method="post" action="/query">
          <input type="text" name="query" class="query-input" placeholder="Enter phone number, email, Website address/name, company/agency/individual">
          <button type="submit" class="submit-btn">Check</button>
        </form>
        <div class="results">
          <ul>
            <% results.forEach(function(result) { %>
            <li>
              <h3><%= result.title %></h3>
              <a><%= result.link %></a>
              <p><%= result.content %></p>
              <p><%= result.date %></p>
            </li>
            <% }); %>
          </ul>
          <% if (message) { %>
            <p><%= message %></p>
            <% } %>
        </div>
      <!--</section>-->
        <footer class="info">
        <p>Sniffer results are aggregated from user reports & verified by Freelance Cyber Investigators </p>
        <p>Announce scams, scammers, and fraud on - <a href = "https://web.facebook.com/profile.php?id=61551806320330">Bonsai Freelance Cyber Investigators</a></p>
        <p>Reach out: digitalClaims@mailchain. This is a blockchain address. <br/>To ensure your privacy, acquire one at mailchain.com for secure communications.</p>
      </footer>
  </body>
</html>
